IndentationError: unindent does not match any outer indentation level (<tokenize>, line 18)

In [6]:
if __name__ == "__main__":
    dataset_path = '/content/data set for naan mudhalvan.csv'
    system = StudentResultManagementSystem(dataset_path)

    # Add a new student result
    system.add_student_result(6, 'Sophia', 85, 90, 95)

    # Display all student results
    print("All Student Results:")
    system.display_student_results()
    print()

    # Get result for a specific student
    student_id = 2
    print(f"Result for Student ID {student_id}:")
    print(system.get_student_result(student_id))
    print()

    # Calculate average score for a specific student
    print(f"Average score for Student ID {student_id}:")

All Student Results:
   StudentID     Name  Maths  Science  English
0          1     John     85       90       80
1          2    Alice     75       85       95
2          3      Bob     90       80       70
3          4      Eve     80       75       85
4          5  Michael     95       95       90
5          6   Sophia     85       90       95
6          6   Sophia     85       90       95

Result for Student ID 2:
   StudentID   Name  Maths  Science  English
1          2  Alice     75       85       95

Average score for Student ID 2: